.CTA04 {
  @apply relative bg-cover bg-no-repeat;
  &::before {
    content: "";
    @apply block absolute inset-0 bg-black opacity-70 mix-blend-multiply z-10;
  }
  &-container {
    @apply container mx-auto px-4 text-white text-center relative z-30 lg:px-6;
  }
  .headingWrapper h2 {
    @apply text-5xl font-light mb-6 mt-2 xl:text-6xl xl:mb-8 xl:mt-6;
    &:after {
      height: 1px;
      width: 100px;
      content: "";
      @apply mx-auto block mt-2;
    }
  }
  .textWrapper {
    @apply max-w-2xl mx-auto text-xl xl:text-2xl;
  }

  .btn {
    @apply text-black px-12 text-xl;
  }
}
